<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Datos personales
        </div>
        <div class="card-body">
          <form>
            <div	class="form-group">
                <label	for="nombre">Nombre</label>
                <input	type="text"	class="form-control"	id="nombre"	placeholder="Ingresar nombres..." #nombre >
            </div>
            <div	class="form-group">
                <label	for="apellido">Apellido</label>
                <input	type="text"	class="form-control"	id="apellido"	placeholder="Ingresar apellidos..." #apellido>
            </div>
            <button	type="submit"	class="btn	btn-primary" (click)="agregar(nombre.value, apellido.value)" >Agregar</button>
          </form>
          <div>
            <p class="alert alert-danger" *ngIf="verAlerta">Rellenar ambos campos</p>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let persona of personas">
        <app-persona-datos [persona]="persona"></app-persona-datos>
      </li>
    </ul>

  </div>

</div>
