<div class="container">
  <h2>Contrato </h2>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Fecha de ingreso</label>
        <input class="form-control" type="date" #fechaIniColab>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Fecha de cese</label>
        <input class="form-control" type="date" #fechaFinColab>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="guardar(fechaIniColab.value,fechaFinColab.value)">Guardar</button>
    </div>
  </div>
  <hr class="mb-3">
  <h2>Periodos</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Periodo</th>
        <th scope="col">Días Tomados</th>
        <th scope="col">Días Restantes</th>
        <th scope="col">1er Tramo(7 y 8 dias)</th>
        <th scope="col">2do Tramo(15 dias)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let periodo of periodos;">
        <th scope="row"  [ngStyle]="{'background-color':(30 - periodo.restante) === 0 ? 'darkred' : ((30 - periodo.restante)<=15 ? 'darkorange' : 'white')  }">{{periodo.anio}}-{{periodo.anio+1}}</th>
        <td>{{30 - periodo.restante}}</td>
        <td>{{periodo.restante}}</td>
        <!--1er tramo-->
        <td *ngIf="!periodo.estados[0] && !periodo.estados[1]">No</td>
        <td *ngIf="!periodo.estados[0] && periodo.estados[1]">Falta tramo de 7 días</td>
        <td *ngIf="periodo.estados[0] && !periodo.estados[1]">Falta tramo de 8 días</td>
        <td *ngIf="periodo.estados[0] && periodo.estados[1]">Si</td>
        <!--2do tramo-->
        <td *ngIf="!periodo.estados[2]">No</td>
        <td *ngIf="periodo.estados[2]">Si</td>


      </tr>
    </tbody>
  </table>


</div>
<hr class="mb-5">
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label>Fecha de inicio de permiso</label>
        <input class="form-control" type="date" #fechaIni>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label>Fecha fin de permiso</label>
        <input class="form-control" type="date" #fechaFin>
      </div>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="guardarPermiso(fechaIni.value,fechaFin.value)">Guardar permiso</button>
    </div>
    <!--
    <div class="col-md-2" *ngIf="mensajeAlerta">
      <p>{{mensajeText}}</p>
    </div>
    -->
    <div class="col-md-4" *ngIf="mensajeQuinceDias!==''" >
      <p class="border border-info rounded">{{mensajeQuinceDias}}</p>
    </div>
  </div>
  <p> Usted Tiene: {{cantidadDias}} días de vacaciones pendientes</p>

  <hr class="mb-5">
  <h2>Permisos</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Fecha inicio</th>
        <th scope="col">Fecha fin</th>
        <th scope="col">Días tomados</th>
        <th scope="col">Vacaciones pendientes</th>
        <th scope="col">Aviso</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let permiso of permisos;">
        <th scope="row">{{permiso.fechaInicio}}</th>
        <td>{{permiso.fechaFin}}</td>
        <td>{{permiso.diasTomados}}</td>
        <td>{{permiso.restante}}</td>
        <td *ngIf="permiso.aviso==0"></td>
        <td *ngIf="permiso.aviso!=0">se ha tomado {{permiso.aviso}} fin de semana</td>
      </tr>
    </tbody>
  </table>
</div>
